- page_title "Starred Projects"
- header_title "Projects", dashboard_projects_path

= render 'dashboard/projects_head'

- if @last_push
  = render "events/event_last_push", event: @last_push

- if @projects.any?
  = render 'projects'
- else
  %h3 你还没有给任何项目加注星标
  %p.slead 访问项目页面然后按下星标图标即可将项目显示在此页面。
