#modal-shortcuts.modal{ tabindex: -1 }
  .modal-dialog
    .modal-content
      .modal-header
        %a.close{ href: "#", "data-dismiss" => "modal" } ×
        %h4
          键盘快捷键
          %small
            = link_to '(显示全部)', '#', class: 'js-more-help-button'
      .modal-body
        .row
          .col-lg-4
            %table.shortcut-mappings
              %tbody
                %tr
                  %th
                  %th 全局快捷键
                %tr
                  %td.shortcut
                    .key s
                  %td 定位到搜索框
                %tr
                  %td.shortcut
                    .key f
                  %td 定位到过滤框
                - if performance_bar_enabled?
                  %tr
                    %td.shortcut
                      .key p b
                    %td Show/hide the Performance Bar
                %tr
                  %td.shortcut
                    .key ?
                  %td 显示/隐藏本对话框
                %tr
                  %td.shortcut
                    - if browser.platform.mac?
                      .key &#8984; shift p
                    - else
                      .key ctrl shift p
                  %td 切换 Markdown 预览
                %tr
                  %td.shortcut
                    .key
                      %i.fa.fa-arrow-up
                  %td 编辑最新的评论（当焦点位于空白的文本区域时）
                %tr
                  %td.shortcut
                    .key shift t
                  %td
                    转到待办事项
                %tr
                  %td.shortcut
                    .key shift a
                  %td
                    转到活动 Feed
                %tr
                  %td.shortcut
                    .key shift p
                  %td
                    转到项目
                %tr
                  %td.shortcut
                    .key shift i
                  %td
                    转到问题
                %tr
                  %td.shortcut
                    .key shift m
                  %td
                    转到合并请求
                %tr
                  %td.shortcut
                    .key shift g
                  %td
                    转到群组
                %tr
                  %td.shortcut
                    .key shift l
                  %td
                    转到里程碑
                %tr
                  %td.shortcut
                    .key shift s
                  %td
                    转到代码碎片
              %tbody
                %tr
                  %th
                  %th 查找项目文件
                %tr
                  %td.shortcut
                    .key
                      %i.fa.fa-arrow-up
                  %td 向上选择
                %tr
                  %td.shortcut
                    .key
                      %i.fa.fa-arrow-down
                  %td 向下选择
                %tr
                  %td.shortcut
                    .key enter
                  %td 打开选择项
                %tr
                  %td.shortcut
                    .key esc
                  %td 后退
          .col-lg-4
            %table.shortcut-mappings
              %tbody
                %tr
                  %th
                  %th 项目
                %tr
                  %td.shortcut
                    .key g
                    .key p
                  %td
                    转到项目概览页
                %tr
                  %td.shortcut
                    .key g
                    .key e
                  %td
                    转到项目动态
                %tr
                  %td.shortcut
                    .key g
                    .key f
                  %td
                    转到文件
                %tr
                  %td.shortcut
                    .key g
                    .key c
                  %td
                    转到提交
                %tr
                  %td.shortcut
                    .key g
                    .key j
                  %td
                    转到作业
                %tr
                  %td.shortcut
                    .key g
                    .key n
                  %td
                    转到网络图表
                %tr
                  %td.shortcut
                    .key g
                    .key d
                  %td
                    转到版本库图表
                %tr
                  %td.shortcut
                    .key g
                    .key i
                  %td
                    转到问题
                %tr
                  %td.shortcut
                    .key g
                    .key b
                  %td
                    转到问题看板
                %tr
                  %td.shortcut
                    .key g
                    .key m
                  %td
                    转到合并请求
                %tr
                  %td.shortcut
                    .key g
                    .key s
                  %td
                    转到代码片段
                %tr
                  %td.shortcut
                    .key g
                    .key w
                  %td
                    转到维基
                %tr
                  %td.shortcut
                    .key t
                  %td 转到文件查找
                %tr
                  %td.shortcut
                    .key i
                  %td 新建问题

              %tbody
                %tr
                  %th
                  %th 项目文件浏览
                %tr
                  %td.shortcut
                    .key
                      %i.fa.fa-arrow-up
                  %td 向上选择
                %tr
                  %td.shortcut
                    .key
                      %i.fa.fa-arrow-down
                  %td 向下选择
                %tr
                  %td.shortcut
                    .key enter
                  %td 打开选择项
              %tbody
                %tr
                  %th
                  %th 项目文件
                %tr
                  %td.shortcut
                    .key y
                  %td 转到文件固定链接
          .col-lg-4
            %table.shortcut-mappings
              %tbody.hidden-shortcut.network{ style: 'display:none' }
                %tr
                  %th
                  %th 网络图表
                %tr
                  %td.shortcut
                    .key
                      %i.fa.fa-arrow-left
                    \/
                    .key h
                  %td 向左滚动
                %tr
                  %td.shortcut
                    .key
                      %i.fa.fa-arrow-right
                    \/
                    .key l
                  %td 向右滚动
                %tr
                  %td.shortcut
                    .key
                      %i.fa.fa-arrow-up
                    \/
                    .key k
                  %td 向上滚动
                %tr
                  %td.shortcut
                    .key
                      %i.fa.fa-arrow-down
                    \/
                    .key j
                  %td 向下滚动
                %tr
                  %td.shortcut
                    .key
                      shift
                      %i.fa.fa-arrow-up
                    \/
                    .key
                      shift k
                  %td 滚动到顶部
                %tr
                  %td.shortcut
                    .key
                      shift
                      %i.fa.fa-arrow-down
                    \/
                    .key
                      shift j
                  %td 滚动到底部
              %tbody.hidden-shortcut.issues{ style: 'display:none' }
                %tr
                  %th
                  %th 问题
                %tr
                  %td.shortcut
                    .key a
                  %td 修改指派
                %tr
                  %td.shortcut
                    .key m
                  %td 修改里程碑
                %tr
                  %td.shortcut
                    .key r
                  %td 回复 (并引用选择的文本)
                %tr
                  %td.shortcut
                    .key e
                  %td 编辑问题
                %tr
                  %td.shortcut
                    .key l
                  %td 修改标记
              %tbody.hidden-shortcut.merge_requests{ style: 'display:none' }
                %tr
                  %th
                  %th 合并请求
                %tr
                  %td.shortcut
                    .key a
                  %td 修改指派
                %tr
                  %td.shortcut
                    .key m
                  %td 修改里程碑
                %tr
                  %td.shortcut
                    .key r
                  %td 回复 (并引用选择的文本)
                %tr
                  %td.shortcut
                    .key e
                  %td 编辑合并请求
                %tr
                  %td.shortcut
                    .key l
                  %td 更改标记
              %tbody.hidden-shortcut.wiki{ style: 'display:none' }
                %tr
                  %th
                  %th 维基页面
                %tr
                  %td.shortcut
                    .key e
                  %td 编辑维基页面
