- @hide_top_links = true
- page_title "合并请求"
- header_title  "合并请求", merge_requests_dashboard_path(assignee_id: current_user.id)

.top-area
  = render 'shared/issuable/nav', type: :merge_requests
  .nav-controls
    = render 'shared/new_project_item_select', path: 'merge_requests/new', label: "新建合并请求", with_feature_enabled: 'merge_requests', type: :merge_requests

= render 'shared/issuable/filter', type: :merge_requests
= render 'shared/merge_requests'
