.container.convdev-empty
  .col-sm-6.col-sm-push-3.text-center
    = custom_icon('convdev_no_index')
    %h4 使用率反馈未启用
    %p
      只有启用了
      = link_to '使用率反馈', help_page_path('user/admin_area/settings/usage_statistics'), target: '_blank'
      后才会显示 ConvDev. 启用使用率反馈以从功能特性的角度概述您的 GitLab 使用情况。
    = link_to '启用使用率', admin_application_settings_path(anchor: 'usage-statistics'), class: 'btn btn-primary'
