.container.convdev-empty
  .col-sm-6.col-sm-push-3.text-center
    = custom_icon('convdev_no_data')
    %h4 数据仍在计算中...
    %p
      为了准确的收集功能特性使用数据，可能需要1到2周才能看到您的指数。
      = link_to '了解更多', help_page_path('user/admin_area/monitoring/convdev'), target: '_blank'
