.gitlab-ui-dev-kit {
  > h2 {
    margin: 35px 0 20px;
    font-weight: $gl-font-weight-bold;
  }

  .example {
    padding: 15px;
    border: 1px dashed $gl-gray-100;
    margin-bottom: 15px;

    &::before {
      content: '示例';
      color: $ui-dev-kit-example-color;
    }
  }
}
