- commits = @commits
- hidden = @hidden_commit_count
- commits = Commit.decorate(commits, @project)

.card
  .card-header
    Commits (#{@total_commit_count})
  - if hidden > 0
    %ul.content-list
      - commits.each do |commit|
        = render "projects/commits/inline_commit", commit: commit, project: @project
      %li.warning-row.unstyled
        #{number_with_delimiter(hidden)} 次更多提交因为性能问题而隐藏。
  - else
    %ul.content-list= render commits, project: @project, ref: @ref
