.row.empty-state.labels
  .col-xs-12
    .svg-content
      = image_tag 'illustrations/labels.svg'
  .col-xs-12.text-center
    .text-content
      %h4 标记可应用于问题和合并请求的分组。
      %p 您还可以为标记加注星标，使其成为优先标记。
      - if can?(current_user, :admin_label, @project)
        = link_to '新建标记', new_project_label_path(@project), class: 'btn btn-new', title: 'New label', id: 'new_label_link'
        = link_to '生成默认标记组', generate_project_labels_path(@project), method: :post, class: 'btn btn-success btn-inverted', title: 'Generate a default set of labels', id: 'generate_labels_link'
