- button_path = local_assigns.fetch(:button_path, false)
- project_select_button = local_assigns.fetch(:project_select_button, false)
- has_button = button_path || project_select_button

.row.empty-state.merge-requests
  .col-xs-12
    .svg-content
      = image_tag 'illustrations/merge_requests.svg'
  .col-xs-12.text-center
    .text-content
      - if has_button
        %h4
          合并请求是一个可以让您提交对项目的修改并与其他人讨论的地方。
        %p
          有兴趣者甚至可以通过推送提交做出贡献。
        - if project_select_button
          = render 'shared/new_project_item_select', path: 'merge_requests/new', label: '新建合并请求', type: :merge_requests
        - else
          = link_to '新建合并请求', button_path, class: 'btn btn-new', title: '新建合并请求', id: 'new_merge_request_link'
      - else
        %h4.text-center
          没有合并请求
