.panel.panel-default.protected-branches-list.js-protected-branches-list
  - if @protected_branches.empty?
    .panel-heading
      %h3.panel-title
        受保护分支 (#{@protected_branches.size})
    %p.settings-message.text-center
      当前没有受保护的分支，可以通过上面的表单对某分支进行保护。
  - else
    %table.table.table-bordered
      %colgroup
        %col{ width: "20%" }
        %col{ width: "20%" }
        %col{ width: "20%" }
        %col{ width: "20%" }
        - if can_admin_project
          %col
      %thead
        %tr
          %th 受保护分支 (#{@protected_branches.size})
          %th 最后提交
          %th 允许合并到
          %th 允许推送到
          - if can_admin_project
            %th
      %tbody
        %tr
          %td.flash-container{ colspan: 5 }
        = yield

    = paginate @protected_branches, theme: 'gitlab'
