= f.hidden_field(:name)

= dropdown_tag('选择分支或创建通配符',
               options: { toggle_class: 'js-protected-branch-select js-filter-submit wide git-revision-dropdown-toggle',
                          filter: true, dropdown_class: "dropdown-menu-selectable git-revision-dropdown", placeholder: "搜索受保护分支",
                          footer_content: true,
                          data: { show_no: true, show_any: true, show_upcoming: true,
                                  selected: params[:protected_branch_name],
                                  project_id: @project.try(:id) } }) do

  %ul.dropdown-footer-list
    %li
      %button{ class: "dropdown-create-new-item-button js-dropdown-create-new-item", title: "新建保护分支" }
        创建通配符
        %code
