- supports_slash_commands = local_assigns.fetch(:supports_slash_commands, false)
.comment-toolbar.clearfix
  .toolbar-text
    支持
    = link_to 'Markdown', help_page_path('user/markdown'), target: '_blank', tabindex: -1
    - if supports_slash_commands
      及
      = link_to 'slash commands', help_page_path('user/project/slash_commands'), target: '_blank', tabindex: -1
    格式
  %button.toolbar-button.markdown-selector{ type: 'button', tabindex: '-1' }
    = icon('file-image-o', class: 'toolbar-button-icon')
    附加文件
