- page_title "导入仓库"
%h3.page-title
  导入仓库

%hr

- if @project.import_failed?
  .card.border-danger
    .card-header.bg-danger.text-white 版本仓库无法被导入。
    .card-body
      %pre
        :preserve
          #{h(@project.import_state.last_error)}

= form_for @project, url: project_import_path(@project), method: :post do |f|
  = render "shared/import_form", f: f

  .form-actions
    = f.submit '开始导入', class: "btn btn-success", tabindex: 4
