%p.append-bottom-default
  包含
  %span.label.label-primary legacy
  标记的触发器没有关联用户，只能访问当前项目。
  %br
  = succeed '.' do
    点击
    = link_to '触发器文档', help_page_path('ci/triggers/README'), target: '_blank'
    了解更多
