- is_admin = local_assigns.fetch(:admin, false)

- if @keys.any?
  %ul.well-list
    = render partial: 'profiles/keys/key', collection: @keys, locals: { is_admin: is_admin }
- else
  %p.profile-settings-message.text-center
    - if is_admin
      用户没有 ssh 密钥
    - else
      没有密钥。
