- is_admin = defined?(admin) ? true : false
- if @keys.any?
  .table-holder
    %table.table
      %thead.panel-heading
        %tr
          %th 标题
          %th 指纹
          %th 增加时间
          %th
      %tbody
        - @keys.each do |key|
          = render 'profiles/keys/key', key: key, is_admin: is_admin
- else
  .nothing-here-block
    - if is_admin
      用户没有 ssh 密钥
    - else
      没有密钥。
