- page_title "增加 SSH 密钥"
%h3.page-title 增加 SSH 密钥
%p.light
  在这里粘贴 SSH 公钥。如何生成密钥请点击 #{link_to "SSH 帮助页面", help_page_path("ssh", "README")}了解更多。
%hr
= render 'form'

:javascript
  $('#key_key').on('focusout', function(){
    var title = $('#key_title'),
        val      = $('#key_key').val(),
        comment = val.match(/^\S+ \S+ (.+)\n?$/);

    if( comment && comment.length > 1 && title.val() == '' ){
      $('#key_title').val( comment[1] ).change();
    }
  });
