- @no_container = true
- breadcrumb_title "比较修订"
- page_title "比较"

%div{ class: container_class }
  .sub-header-block
    比较 Git 修订。
    %br
    选择一个分支或标记 (e.g.
    = succeed ')' do
      %code.ref-name master
    或者输入一个提交 SHA (e.g.
    = succeed ')' do
      %code.ref-name 4eedf23
    来查看变更或者创建合并请求。
    %br
    显示
    %b 源
    修订被合并到
    %b 目标
    修订后的变更。

  .prepend-top-20
    = render "form"
