- can_resolve = @merge_request.conflicts_can_be_resolved_by?(current_user)
- can_resolve_in_ui = @merge_request.conflicts_can_be_resolved_in_ui?
- can_merge = @merge_request.can_be_merged_via_command_line_by?(current_user)

%h4.has-conflicts
  = icon("exclamation-triangle")
  此合并请求包含有合并冲突

%p
  - if can_resolve && !can_resolve_in_ui
    请在本地解决这些冲突
  - else
    请解决这些冲突
  或者
  - unless can_merge
    请求具有推送权限的成员
  在本地合并。

- if (can_resolve && can_resolve_in_ui) || can_merge
  .btn-group
    - if can_resolve && can_resolve_in_ui
      = link_to "解决冲突", conflicts_namespace_project_merge_request_path(@project.namespace, @project, @merge_request), class: "btn"
    - if can_merge
      = link_to "手工合并此请求", "#modal_merge_info", class: "btn how_to_merge_link vlink", "data-toggle" => "modal"
