- page_title '编辑部署密钥'
%h3.page-title 编辑部署密钥
%hr

%div
  = form_for [@project.namespace.becomes(Namespace), @project, @deploy_key], html: { class: 'form-horizontal js-requires-input' } do |f|
    = render partial: 'shared/deploy_keys/form', locals: { form: f, deploy_key: @deploy_key }
    .form-actions
      = f.submit '保存修改', class: 'btn-save btn'
      = link_to '取消', project_settings_repository_path(@project), class: 'btn btn-cancel'
