- if current_user.admin?
  .form-group
    .col-sm-offset-2.col-sm-10
      .checkbox
        = f.label :lfs_enabled do
          = f.check_box :lfs_enabled, checked: @group.lfs_enabled?
          %strong
            允许群组内的项目使用 Git LFS
            = link_to icon('question-circle'), help_page_path('workflow/lfs/manage_large_binaries_with_git_lfs')
          %br/
          %span.descr 这个设置可以在每个项目中覆盖。
