- user = local_assigns.fetch(:user)

%ul
  %li
    %p
      为了后续的维护，当前用户的内容将移动到一个系统范围的用户 "Ghost User" 。 想了解更多内容，请参考
      = link_to '用户账户删除文档。', help_page_path("user/profile/account/delete_account", anchor: "associated-records")
  - personal_projects_count = user.personal_projects.count
  - unless personal_projects_count.zero?
    %li #{pluralize(personal_projects_count, '个个人项目','个个人项目')} 将会移除并且无法撤销。
