%h4
  贡献日历
  .pull-right
    %small 问题、合并请求和推送事件
#cal-heatmap.calendar
  :javascript
    new Calendar(
      #{@timestamps.to_json},
      #{@starting_year},
      #{@starting_month},
      '#{user_calendar_activities_path}'
    );
