- if can?(current_user, :create_deployment, environment) && environment.stop_action?
  .inline
    = link_to stop_project_environment_path(@project, environment), method: :post,
      class: 'btn stop-env-link', rel: 'nofollow', data: { confirm: '您确定要停用该运行环境？' } do
      = icon('stop', class: 'stop-env-icon')
