- page_title "Contributors", "Graphs"
= render "header_title"
.tree-ref-holder
  = render 'shared/ref_switcher', destination: 'graphs'
= render 'head'

.loading-graph
  .center
    %h3.page-title
      %i.fa.fa-spinner.fa-spin
      正在构建版本库图表。
    %p.slead 请稍候，成功后会自动刷新页面。

.stat-graph.hide
  .header.clearfix
    %h3#date_header.page-title
    %p.light
      提交到 #{@ref}，排除合并提交。限制为 6,000 次提交。
    %input#brush_change{:type => "hidden"}
  .graphs
    #contributors-master
    #contributors.clearfix
      %ol.contributors-list.clearfix



:coffeescript
  $.ajax
    type: "GET",
    url: location.href,
    success: (data) ->
      graph = new ContributorsStatGraph()
      graph.init(data)

      $("#brush_change").change ->
        graph.change_date_header()
        graph.redraw_authors()

      $(".stat-graph").fadeIn();
      $(".loading-graph").hide();
    dataType: "json"
