- if outdated_browser?
  .flash-container
    .flash-alert.text-center
      很可能因为使用了过时的网页浏览器导致 GitLab 无法工作。
      %br
      请安装一个
      = link_to '支持的网页浏览器', help_page_path('install/requirements', anchor: 'supported-web-browsers')
      获得更好的体验。
