.user-callout{ data: { uid: 'user_callout_dismissed' } }
  .bordered-box.landing.content-block
    %button.btn.btn-default.close.js-close-callout{ type: 'button',
      'aria-label' => 'Dismiss customize experience box' }
      = icon('times', class: 'dismiss-icon', 'aria-hidden' => 'true')
    .svg-container
      = custom_icon('icon_customization')
    .user-callout-copy
      %h4
        自定义您的体验
      %p
        在首选项中更改语法主题，默认项目页面等。
      = link_to '去看看', profile_preferences_path, class: 'btn btn-primary js-close-callout'
