.user-callout
  .bordered-box.landing.content-block
    %button.btn.btn-default.close.js-close-callout{ type: 'button',
      'aria-label' => 'Dismiss customize experience box' }
      = icon('times', class: 'dismiss-icon', 'aria-hidden' => 'true')
    .row
      .col-sm-3.col-xs-12.svg-container
        = custom_icon('icon_customization')
      .col-sm-8.col-xs-12.inner-content
        %h4
          自定义您的体验
        %p
          在首选项中更改语法主题，默认项目页面等。
        = link_to '去看看', profile_preferences_path, class: 'btn btn-default js-close-callout'
