.panel.panel-default
  .panel-heading
    有权访问
    %strong #{@project.name}
    的用户
    %span.badge= @project_members.total_count
  %ul.content-list
    = render partial: 'shared/members/member', collection: members, as: :member
