- page_title    "项目"
- header_title  "项目", root_path

- if current_user
  = render 'dashboard/projects_head'
- else
  = render 'explore/head'

.explore-trending-block
  .gray-content-block
    .pull-right
      = render 'explore/projects/dropdown'
    .oneline
      %i.fa.fa-comments-o
      查看上个月最多讨论的项目
  = render 'projects', projects: @trending_projects
