= icon('book fw')
在您查看了这些贡献指南后，您将开始

- options = contribution_options(viewer.project)
- if options.any?
  = succeed '。' do
    = options.to_sentence(two_words_connector: ' 或者 ', last_word_connector: '， 或 ').html_safe
- else
  为本项目做出贡献。
