- if viewer.valid?
  = icon('check fw')
  这个路线图(Route Map)是有效的。
- else
  = icon('warning fw')
  这个路线图(Route Map)是无效的：
  = viewer.validation_message

= link_to '了解更多', help_page_path('ci/environments', anchor: 'go-directly-from-source-files-to-public-pages-on-the-environment')
