- @no_container = true
- page_title "页面", "Wiki"

%div{ class: container_class }
  .wiki-page-header

    .nav-text
      %h2.wiki-page-title
        维基页面

    .nav-controls
      = link_to namespace_project_wikis_git_access_path(@project.namespace, @project), class: 'btn' do
        = icon('cloud-download')
        克隆版本库

  %ul.wiki-pages-list.content-list
    = render @wiki_entries, context: 'pages'

  = paginate @wiki_pages, theme: 'gitlab'
