- is_collapsed = local_assigns.fetch(:is_collapsed, false)
- mark_content = is_collapsed ? icon('check-square', class: 'todo-undone') : '添加待办'
- todo_content = is_collapsed ? icon('plus-square') : '已完成'

%button.issuable-todo-btn.js-issuable-todo{ type: 'button',
  class: (is_collapsed ? 'btn-blank sidebar-collapsed-icon dont-change-state has-tooltip' : 'btn btn-default issuable-header-btn pull-right'),
  title: (todo.nil? ? '添加待办' : '已完成'),
  'aria-label' => (todo.nil? ? '添加待办' : '已完成'),
  data: issuable_todo_button_data(issuable, todo, is_collapsed) }
  %span.issuable-todo-inner.js-issuable-todo-inner<
    - if todo
      = mark_content
    - else
      = todo_content
  = icon('spin spinner', 'aria-hidden': 'true')
