- page_title '违规举报'
%h3.page-title 违规举报
%hr
.abuse-reports
  - if @abuse_reports.present?
    .table-holder
      %table.table.responsive-table
        %thead.hidden-sm.hidden-xs
          %tr
            %th 被举报用户
            %th 举报人
            %th.wide 信息
            %th 操作
        = render @abuse_reports
    = paginate @abuse_reports, theme: 'gitlab'
  - else
    .empty-state
      .text-center
        %h4 没有违规举报！ #{emoji_icon('tada')}
