%h3.page-title 事件

%table.table
  %thead
    %tr
      %th 用户 ID
      %th 描述
      %th 时间
  - @events.each do |event|
    %tr
      %td
        = event.user_id
      %td
        = event.description
      %td.light
        = time_ago_in_words event.updated_at
        之前

= paginate @events