#gitlab_import_modal.modal
  .modal-dialog
    .modal-content
      .modal-header
        %h3.modal-title 从 GitLab.com 导入项目
        %button.close{ type: "button", "data-dismiss": "modal", "aria-label" => _('Close') }
          %span{ "aria-hidden": true } &times;
      .modal-body
        要开启从 GitLab.com 导入项目，
        - if current_user.admin?
          作为管理员你需要配置
        - else
          ask your GitLab administrator to configure
        = link_to 'OAuth 集成', help_page_path("integration/gitlab")
