- form = local_assigns.fetch(:form)

.radio
  = label_tag :project_merge_method_rebase_merge do
    = form.radio_button :merge_method, :rebase_merge, class: "js-merge-method-radio"
    %strong 带半线性历史的合并请求
    %br
    %span.descr
      为每一个合并创建一个合并请求，但是只有可以快进合并时才允许合并。这样你可以确保如果这个合并请求可以构建，那么合并到目标分支后依旧能够构建。
    %br
    %span.descr
      当无法快进合并时，用户可以选择 rebase。
