- form = local_assigns.fetch(:form)

%fieldset.features.merge-requests-feature.append-bottom-default
  %hr
  %h5.prepend-top-0
    合并请求

  = render 'projects/merge_request_merge_settings', form: form
