.merge-requests-feature
  %fieldset.builds-feature
    %hr
    %h5.prepend-top-0
      合并请求
    .form-group
      .checkbox
        = f.label :only_allow_merge_if_build_succeeds do
          = f.check_box :only_allow_merge_if_build_succeeds
          %strong 只允许合并构建成功的合并请求。
          %br
          %span.descr
            启用该选项需要先配置构建
            = link_to icon('question-circle'), help_page_path('user/project/merge_requests/merge_when_build_succeeds', anchor: 'only-allow-merge-requests-to-be-merged-if-the-build-succeeds')
