- page_title '聊天'
- @content_class = "limit-container-width" unless fluid_layout
= render 'profiles/head'

.row.prepend-top-default
  .col-lg-4.profile-settings-sidebar
    %h4.prepend-top-0
      = page_title
    %p
      您可以查看您的聊天帐户。

  .col-lg-8
    %h5 有效的聊天名称 (#{@chat_names.size})

    - if @chat_names.present?
      .table-responsive
        %table.table.chat-names
          %thead
            %tr
              %th 项目
              %th 服务
              %th 团队域名
              %th 昵称
              %th 最近使用
              %th
          %tbody
            = render @chat_names

    - else
      .settings-message.text-center
        你现在还没有任何有效的聊天名称。
