- add_to_breadcrumbs "Snippets", project_snippets_path(@project)
- breadcrumb_title @snippet.to_reference
- page_title "编辑", "#{@snippet.title} (#{@snippet.to_reference})", "代码片段"

%h3.page-title
  编辑代码片段
%hr
= render "shared/snippets/form", url: project_snippet_path(@project, @snippet)
