- add_to_breadcrumbs "代码片段", project_snippets_path(@project)
- breadcrumb_title "新建"
- page_title "新建代码片段"

%h3.page-title
  新建代码片段
%hr
= render "shared/snippets/form", url: project_snippets_path(@project, @snippet)
