- if @project.generated_yaml_config
  %p.alert.alert-danger
    CI 作业已被废弃，你需要#{link_to "下载", dumped_yaml_ci_project_path(@project)}
    或
    %a.preview-yml{:href => "#yaml-content", "data-toggle" => "modal"} 预览
    在你旧作业基本上生成的 yaml 文件。
    然后将此文件放到项目根目录取名为 .gitlab-ci.yml

= render 'form'

- if @project.generated_yaml_config
  #yaml-content.modal.fade{"aria-hidden" => "true", "aria-labelledby" => ".gitlab-ci.yml", :role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          %h4.modal-title .gitlab-ci.yml 内容
        .modal-body
          = text_area_tag :yaml, @project.generated_yaml_config, size: "70x25", class: "form-control"
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} 关闭
