.wiki
  %h1
    GitLab CI 现在已集成到 GitLab 界面
  %h2 已开启 CI 的项目

  %p
    在下列页面查看相关 CI 状态：

  %ul
    %li 项目页面 - 显示每个项目的 CI 状态。
    %li 项目提交页面 - 显示每个提交的 CI 状态。



  %h2 新项目

  %p
    只需简单的在仓库根目录增加
    = link_to ".gitlab-ci.yml", "http://doc.gitlab.com/ce/ci/yaml/README.html"
    文件就可以给新项目开启 CI 功能。
