.dropdown-page-two.dropdown-new-branch
  = dropdown_title('创建新分支', back: true)
  = dropdown_content do
    %input#new_branch_name.default-dropdown-input.append-bottom-10{ type: "text", placeholder: "命名新分支h" }
      %button.btn.btn-primary.pull-left.js-new-branch-btn{ type: "button" }
        创建
      %button.btn.btn-default.pull-right.js-cancel-branch-btn{ type: "button" }
        取消
