- if @project.pages_deployed?
  - if can?(current_user, :remove_pages, @project)
    .panel.panel-default.panel.panel-danger
      .panel-heading 删除网页
      .errors-holder
      .panel-body
        %p
          删除网页将防止它们暴露给外界。
        .form-actions
          = link_to '删除网页', project_pages_path(@project), data: { confirm: '您确定要删除这个网页？'}, method: :delete, class: "btn btn-remove"
  - else
    .nothing-here-block 只有项目所有者可以删除网页
