- unless @project.pages_deployed?
  .panel.panel-info
    .panel-heading
      配置网页
    .panel-body
      %p
        请按照
        = succeed '.' do
          = link_to 'GitLab Pages 上的文档', help_page_path('user/project/pages/index.md'), target: '_blank'
        了解如何上传您的静态网页，并通过Gitlab提供服务。
