- plugins = Gitlab::Plugin.files

.row.prepend-top-default
  .col-lg-4
    %h4.prepend-top-0
      插件
    %p
      #{link_to '插件', help_page_path('administration/plugins')} 类似于
      系统钩子，只是通过执行本地文件来取代将数据发送到指定链接。

  .col-lg-8.append-bottom-default
    - if plugins.any?
      .card
        .card-header
          插件 (#{plugins.count})
        %ul.content-list
          - plugins.each do |file|
            %li
              .monospace
                = File.basename(file)
    - else
      .card.bg-light.text-center
        .nothing-here-block No plugins found.
