- page_title "编辑", @label.name, "标记"
= render "header_title"

%h3
  编辑标记
  %span.light #{@label.name}
.back-link
  = link_to namespace_project_labels_path(@project.namespace, @project) do
    &larr; 转到标记列表
%hr
= render 'form'
