%ul.content-list.pipelines
  - if pipelines.blank?
    %li
      .nothing-here-block 没有流水线可显示
  - else
    .table-holder
      %table.table.ci-table
        %tbody
          %th 状态
          %th 流水线
          %th 提交
          %th 阶段
          %th
          %th
        = render pipelines, commit_sha: true, stage: true, allow_retry: true, stages: pipelines.stages, status_icon_only: true, show_commit: false
