%p
  通过验证检查后， 您的 Gitlab 自定义域名已被
  启用。 你可以通过 #{link_to @domain.url, @domain.url} 访问您的内容。
%p
  项目: #{link_to @project.human_name, project_url(@project)}
%p
  域名: #{link_to @domain.domain, project_pages_domain_url(@project, @domain)}
%p
  请查看
  = link_to '这些指示', help_page_url('user/project/pages/getting_started_part_three.md', anchor: 'dns-txt-record')
  了解更多关于自定义域名的信息。
