- page_title "预览 | 外观"
.login-box
  .login-heading
    %h3 Existing user? Sign in
  %form
    = text_field_tag :login, nil, class: "form-control top", placeholder: "用户名或邮箱"
    = password_field_tag :password, nil, class: "form-control bottom", placeholder: "密码"
    = button_tag "Sign in", class: "btn-create btn"

