- content_for :note_actions do
  - if can?(current_user, :update_issue, @issue)
    - if @issue.closed?
      = link_to '重新打开问题', issue_path(@issue, issue: {state_event: :reopen}, status_only: true), method: :put, class: 'btn btn-grouped btn-reopen js-note-target-reopen', title: '重新打开问题'
    - else
      = link_to '关闭问题', issue_path(@issue, issue: {state_event: :close}, status_only: true), method: :put, class: 'btn btn-grouped btn-close js-note-target-close', title: '关闭问题'

#notes
  = render 'projects/notes/notes_with_form'
