%ul.content-list.issues-list
  = render @issues
  - if @issues.blank?
    %li
      .nothing-here-block 没有问题

- if @issues.present?
  .pull-right
    %span.issue_counter #{@issues.total_count}
    个问题

  = paginate @issues, theme: "gitlab"
