%ul.content-list.issues-list
  = render @issues
  - if @issues.blank?
    %li
      .nothing-here-block 没有问题

- if @issues.present?
  .issuable-filter-count
    %span.pull-right
      此过滤器下
      = @issues.total_count
      个问题

  = paginate @issues, theme: "gitlab"
