.issues-footer.text-center
  %button.issue-email-modal-btn{ type: "button", data: { toggle: "modal", target: "#issue-email-modal" } }
    通过电子邮件向此项目发送新问题

#issue-email-modal.modal.fade{ tabindex: "-1", role: "dialog" }
  .modal-dialog{ role: "document" }
    .modal-content
      .modal-header
        %button.close{ type: "button", data: { dismiss: "modal" }, aria: { label: "close" } }
          %span{ aria: { hidden: "true" } }= icon("times")
        %h4.modal-title
          通过电子邮件创建新问题
      .modal-body
        %p
          向以下地址发送电子邮件。（这是一个私人邮件地址，请保密。）
        .email-modal-input-group.input-group
          = text_field_tag :issue_email, email, class: "monospace js-select-on-focus form-control", readonly: true
          .input-group-btn
            = clipboard_button(clipboard_target: '#issue_email')
        %p
          发送电子邮件到此地址以创建问题。
        %p
          使用主题行作为您的问题的标题。
        %p
          邮件内容将作为问题的内容，支持
          = succeed "。" do
            = link_to "Markdown", help_page_path('markdown', 'markdown')
