#js-register-u2f

%script#js-register-u2f-not-supported{ type: "text/template" }
  %p 你的浏览器不支持 U2F。 请使用 Google Chrome 桌面版 (版本 41 及以上).

%script#js-register-u2f-setup{ type: "text/template" }
  - if current_user.two_factor_otp_enabled?
    .row.append-bottom-10
      .col-md-4
        %button#js-setup-u2f-device.btn.btn-info.btn-block 配置新的 U2F 设备
      .col-md-8
        %p 您的设备需要配置，请将其插入电脑，然后点击下面的按钮。
  - else
    .row.append-bottom-10
      .col-md-4
        %button#js-setup-u2f-device.btn.btn-info.btn-block{ disabled: true } 配置新的 U2F 设备
      .col-md-8
        %p.text-warning 在配置 U2F 设备之前，您需要先注册两步验证应用。

%script#js-register-u2f-in-progress{ type: "text/template" }
  %p 正在尝试与您的设备通信。 请插入设备（如果您还没有）并点击上面的按钮进行确认。

%script#js-register-u2f-error{ type: "text/template" }
  %div
    %p
      %span <%= error_message %> (error code: <%= error_code %>)
    %a.btn.btn-warning#js-u2f-try-again 重试

%script#js-register-u2f-registered{ type: "text/template" }
  .row.append-bottom-10
    .col-md-12
      %p 您的设备已配置成功! 给它选择一个名称并将其注册到GitLab服务器。
      = form_tag(create_u2f_profile_two_factor_auth_path, method: :post) do
        .row.append-bottom-10
          .col-md-3
            = text_field_tag 'u2f_registration[name]', nil, class: 'form-control', placeholder: "选择一个名称"
          .col-md-3
            = hidden_field_tag 'u2f_registration[device_response]', nil, class: 'form-control', required: true, id: "js-device-response"
            = submit_tag "注册 U2F 设备", class: "btn btn-success"
