- if @can_bulk_update
  = button_tag "编辑合并请求", class: "btn append-right-10 js-bulk-update-toggle"
- if merge_project
  = link_to new_merge_request_path, class: "btn btn-new", title: "新建合并请求" do
    新建合并请求
