%table.table
  %thead
    %tr
      %th ID
      %th 名称
      %th 最后构建
      %th 访问
      %th 构建数
      %th

  - @projects.each do |project|
    = render "ci/admin/projects/project", project: project

= paginate @projects

