.col-md-6
  .form-group
    = f.label :start_date, "开始日期", class: "control-label"
    .col-sm-10
      = f.text_field :start_date, class: "datepicker form-control", placeholder: "选择开始日期"
      %a.inline.pull-right.prepend-top-5.js-clear-start-date{ href: "#" } 清除开始日期
.col-md-6
  .form-group
    = f.label :due_date, "截止日期", class: "control-label"
    .col-sm-10
      = f.text_field :due_date, class: "datepicker form-control", placeholder: "选择截止日期"
      %a.inline.pull-right.prepend-top-5.js-clear-due-date{ href: "#" } 清除截止日期
