- page_title    "管理区域"
- header_title  "管理区域", admin_root_path
- if show_new_nav?
  - nav         "new_admin_sidebar"
  - @new_sidebar = true
- else
  - nav         "admin"

= render template: "layouts/application"
