- page_title    "个人资料设置"
- header_title  "个人资料设置", profile_path unless header_title
- sidebar       "dashboard"
- if show_new_nav?
  - nav         "new_profile_sidebar"
  - @new_sidebar = true
- else
  - nav         "profile"

= render template: "layouts/application"
